<div class="sr2e-roll-result">
  {{#if label}}
  <div class="roll-header"><strong>{{label}}</strong></div>
  {{/if}}

  <div class="roll-meta flexrow">
    <span>Pool: <strong>{{pool}}</strong></span>
    <span>TN: <strong>{{targetNumber}}</strong></span>
  </div>

  <div class="dice-results flexrow">
    {{#each results as |die|}}
    <span class="die-result {{#if die.success}}success{{else}}failure{{/if}}"
          title="{{die.value}}{{#if die.bonus}} (+{{die.bonus}} bonus){{/if}}">
      {{die.value}}{{#if die.bonus}}<sup>+{{die.bonus}}</sup>{{/if}}
    </span>
    {{/each}}
  </div>

  <div class="roll-summary">
    <span class="successes">{{successes}} {{#if (eq successes 1)}}success{{else}}successes{{/if}}</span>
  </div>
</div>
